<form [formGroup]="addEpisodeForm" (ngSubmit)="onSubmit()" class="addEpisodeForm">
    <div>
        <label for="episodeTimeline">Add Episode to Timeline</label>
        <input id="episodeTimeline" formControlName="episodeTimeline" />
        <!-- <select id="episodeTimeline" formControlName="episodeTimeline">
            <option *ngFor="let timeline of episodeTimelines" [value]="timeline">{{timeline}}</option>
        </select> -->
      </div>

    <div>
      <label for="episodeTitle">Episode Title</label>
      <input id="episodeTitle" formControlName="episodeTitle" />
    </div>
  
    <div>
      <label for="episodeDescription">Episode Description</label>
      <textarea id="episodeDescription" formControlName="episodeDescription" rows="2"></textarea>
    </div>
  
    <div formArrayName="events" class="addEpisodeForm-events">
        <div *ngFor="let event of events.controls; let i = index" [formGroupName]="i">
            <div class="add-episode-form-event-title">
            <h3>Event {{ i + 1 }}</h3>
            <button class="app-button form-button" type="button" (click)="removeEvent(i)">Remove Event</button>
            </div>
            <div class="addEpisodeForm-event-title-input">
            <label for="eventTitle">Event Title</label>
            <input id="eventTitle" formControlName="eventTitle" />
            </div>
    
            <div class="addEpisodeForm-event-description-input">
            <label for="eventDescription">Event Description</label>
            <textarea id="eventDescription" formControlName="eventDescription" rows="4"></textarea>
            </div>
    
            <div class="addEpisodeForm-event-image-input">
                <label for="imagePrompt">Images</label>
                <input id="imagePrompt" />
        
                <button class="app-button" type="button" (click)="generateImage(i)">Generate Image</button>
                <!-- <div *ngIf="generatedImages[i]?.length > 0">
                    <p>Select generated images:</p>
                    <div *ngFor="let img of generatedImages[i]; let j = index">
                        <input type="checkbox" [id]="'generatedImage' + i + '_' + j" (change)="toggleImageSelection(i, img)">
                        <label [for]="'generatedImage' + i + '_' + j">
                            <img [src]="img" height="100px" width="100px" />
                        </label>
                    </div>
                </div> -->
                <label for="uploadImage">Upload Image(s)</label>
                <input type="file" id="uploadImage" (change)="onImageUpload($event, i)" multiple />
                <!-- <div *ngIf="uploadedImages[i]?.length > 0">
                    <p>Uploaded Images:</p>
                    <div *ngFor="let img of uploadedImages[i]; let j = index">
                        <img [src]="img" height="100px" width="100px" />
                    </div>
                </div> -->
            </div>
        
            <div class="addEpisodeForm-event-video-input">
                <label for="videoPrompt">Video Prompt</label>
                <input id="videoPrompt" formControlName="videoPrompt" />
        
                <!-- <label for="videoModel">Model</label>
                <select id="videoModel" formControlName="videoModel">
                    <option *ngFor="let model of episodeVideoModels" [value]="model">{{model}}</option>
                </select> -->
        
                <button class="app-button" type="button" (click)="generateVideo(i)">Generate Video</button>
                <!-- <div *ngIf="generatedVideos[i]?.length > 0">
                    <p>Select generated videos:</p>
                    <div *ngFor="let video of generatedVideos[i]; let j = index">
                        <input type="checkbox" [id]="'generatedVideo' + i + '_' + j" (change)="toggleVideoSelection(i, video)">
                        <label [for]="'generatedVideo' + i + '_' + j">
                            <video [src]="video" height="100px" width="100px" controls></video>
                        </label>
                    </div>
                </div> -->
                <p *ngIf="!generatedVideos[i] || generatedVideos[i].length === 0">Please select videos.</p>
                <label for="uploadVideo">Upload Video(s)</label>
                <input type="file" id="uploadVideo" (change)="onVideoUpload($event, i)" multiple />
                <!-- <div *ngIf="uploadedVideos[i]?.length > 0">
                    <p>Uploaded Videos:</p>
                    <div *ngFor="let video of uploadedVideos[i]; let j = index">
                        <video [src]="video" height="100px" width="100px" controls></video>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <button class="app-button form-button" style="margin-top: 5px;" type="button" (click)="addEvent()">Add Event</button>
    <br>
    <div class="form-submit-discard-buttons">
        <button class="app-button submit-button" type="submit">Submit</button>
        <button class="app-button discard-button">
            <span class="material-symbols-outlined">delete_forever</span>
            Discard
        </button>
    </div>
</form>
