<p>create-timeline works!</p>
<form [formGroup]="timelineForm" (ngSubmit)="submitTimeline()">
    <div>
        <label>Timeline Name:</label>
        <input type="text" formControlName="timelineName">
    </div>
    <div>
        <label>Purpose:</label>
        <select formControlName="purpose">
            <option value="Research">Research</option>
            <option value="Story Building">Story Building</option>
            <option value="Education Course">Education Course</option>
            <option value="Notes">Notes</option>
        </select>
    </div>
    <!-- <div>
        <label>Visbility:</label>
        <input type="radio" formControlName="visbility">
            <option value="public">Public</option>
            <option value="private">Private</option>
        </input>
    </div> -->
    <div>
        <label>Intent:</label>
        <select formControlName="intent">

        </select>
    </div>
    <div formGroupName="episode">
        <div>
            <label>Episode Settings:</label>
                <select formControlName="episode['types']">
            </select>
        </div>
    </div>
    <div>
        <label>Event Settings:</label>
        <select formControlName="formatAllowed">
            <option value="text only">Text only</option>
            <option value="images-text">Image and Text</option>
        </select>
    </div>
    <input type="submit" text="Submit">
</form>