<app-header></app-header>
<app-side-navbar></app-side-navbar>
<div class="page">
    <div class="group-timelines" *ngIf="dashboardTimelineData.length > 0">
        <div class="dashboard-timeline-containers">
            <div class="dashboard-timeline" *ngFor = "let timeline of dashboardTimelineData" [routerLink]="['/timeline', timeline.id]">
                <div class="timeline-title">{{timeline.timelineName}}</div>
                <div class="timeline-description">{{timeline.description}}</div>
                <!-- <div class="timeline-author">{{timeline.author}}</div> -->
                 <!-- <div *ngIf="timeline.mainTimeline != null && timeline.mainTimeline.length > 0">
                    <div class="dashboard-timeline-episodes" *ngFor = "let episode of timeline.mainTimeline">
                        <div class="episode-title">{{episode.episodeTitle}}</div>
                        <div class="episode-title">{{episode.episodeDescription}}</div>
                    </div>
                 </div> -->
            </div>
        </div>
    </div>
    <div class="group-timelines" *ngIf="dashboardTimelineData.length == 0">
        <div class="timeline-created-div">No Public Timeline Created</div>
    </div>
</div>