<h3>User Timelines</h3>
<div>
    Name: {{timelineName}}
    Purpose: {{timelinePurpose}}
    Intent: {{timelineIntent}}
</div>
<div>
    <div class="timeline" *ngFor="let version of timelineEpisodesVersion">
        <div class="episode" *ngFor="let episode of version.episodeList">
            {{episode.title}}<br>
            {{episode.type}}<br>
            {{episode.description}}
            <div class="event" *ngFor="let event of episode.eventList">
                {{event.title}}<br>
                {{event.image}}<br>
                {{event.description}}
            </div>
        </div>
    </div>
</div>